<button type="button" id="modal-button" data-toggle="modal" data-target="#myModal">Latest Jams</button>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal">close</button>
        </div>
        </div>
        </div>
