
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <script type="text/javascript">
          function conf() {
            var con = confirm("정말로 삭제하시겠습니까?");
            if(con == true){
              alert("삭제 되었습니다.");
            }
          }
        </script>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/images/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent" style="background-color: black;">
            <p style="color:yellow;">관리자 페이지</p>
            <h2 style="color:white;">Administrator Managing Jams</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Login Area Start ##### -->
    <section class="login-area section-padding-100" style="background-color: black;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="login-content">
                        <h3>Jams</h3>
                        <!-- Login Form -->
                        <div class="login-form">
                          <table class="table">
    			<thead>
    				<tr>
              <th scope="col">제목</th>
              <th scope="col">참여자 수</th>
    					<th scope="col">날짜</th>
    				</tr>
    			</thead>
    			<tbody>
    			<% jams.forEach(j => { %>
    					<tr>
                  <td><%= j.title %></td>
    						<td><%= j.participant %></td>
                <td><%= j.date %></td>
    					</tr>
    	        <% }); %>
    			</tbody>
    		</table>
          </div>
                                <br/><br/><br/><hr><br/><br/><br/>

    </section>
    <!-- ##### Login Area End ##### -->


</body>
