
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/images/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent" style="background-color: black;">
            <p style="color:yellow;">관리자 페이지</p>
            <h2 style="color:white;">Administrator</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Login Area Start ##### -->
    <section class="login-area section-padding-100" style="background-color: black;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="login-content" style="background-color: black;">
                        <h3 style="color:white;">Managing Category</h3>
                        <!-- Login Form -->
                        <div class="login-form">
                                <button type="submit" class="btn oneMusic-btn mt-30">사용자 관리</button>
                                <button type="submit" class="btn oneMusic-btn mt-30">Jam 게시물 관리</button>
                                <button type="submit" class="btn oneMusic-btn mt-30">자유 게시판 관리</button>
                        </div>
                    </div>
                    <br/>
                      <div align="right"><p><a href="/user/login" style="color:grey;">user node</a></p></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Login Area End ##### -->

</body>
