
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    <!-- ##### Breadcumb Area Start ##### -->
    <% if(currentUser) { %>
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/images/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
            <p>ë©”ì‹œì§€ ë³´ë‚´ê¸°</p>
            <h2>ðŸ’¬ Send Message</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->
    <section class="login-area section-padding-100">
      <div class="container">
      <div id="chat"></div>
      </div>
      <br/>
        <div class="container">
            <div class="row justify-content-center">
				<form id="chatForm">
          <input id="chat-user-name" type="hidden" value="<%= currentUser.name" %>">
          <input id="chat-user-id" type="hidden" value="<%= currentUser._id %>">
					<div style="width: 500px;">
						<br>
						<div class="form-group">
							<textarea class="form-control" id="chat-input"
								rows="3" style="width: 500px;" placeholder="ì´ê³³ì— ë©”ì„¸ì§€ë¥¼ ìž‘ì„±í•˜ì„¸ìš”."></textarea>
						</div>
						<input type="submit" value="Send" class="primary" id="chat-submit"/>
					</div>
				</form>

</div>
</div>
</section>
<% } %>
</body>

</html>
