<!-- Button to Open the Modal -->
   <button id="modal-button" type="button" class="btn-outline-primary" data-toggle="modal" data-target="#myModal">

   </button>

   <!-- The Modal -->
   <div class="modal fade" id="myModal" role="dialog">
       <div class="modal-dialog">
           <div class="modal-content">

               <!-- Modal Header -->
               <div class="modal-header">
                   <h4 class="modal-title">이 게시물에 달린 댓글 보기</h4>
                   <button type="button" class="close" data-dismiss="modal">&times;</button>
               </div>

               <!-- Modal body -->
               <div class="modal-body">
                   Modal body
               </div>

               <!-- Modal footer -->
               <div class="modal-footer">
                   <button type="button" id="modal-close" class="btn btn-danger" data-dismiss="modal">Close</button>
               </div>

           </div>
       </div>
   </div>
