      <section class="page-section cta">
          <div class="container">
              <div class="row">
                  <div class="col-xl-9 mx-auto">
                      <div class="cta-inner bg-faded text-center rounded">
                          <h2 class="section-heading mb-5">
                              <span class="section-heading-upper">Contact Us</span>
                              <span class="section-heading-lower">We're Open</span>
                          </h2>
                          <form class="contact-form" action="/subscribe" method="post">
                            <label for="name"><strong>Name</strong></label>&nbsp;&nbsp;
                            <input type="text" name="name" placeholder="John Doe" required>
                            <br/>
                            <label for="email"><strong>Email</strong></label>&nbsp;&nbsp;
                            <input type="email" name="email" placeholder="johndoe@gmail.com" required>
                            <br/>
                            <label for="zipCode"><strong>Zip Code</strong></label>&nbsp;&nbsp;
                            <input type="text" name="zipCode" placeholder="zip code" pattern="[0-9]{5}" required>
                            <input class="btn btn-primary btn-xs" type="submit" value="submit">
                            </form>
                            <br/><br/><br/><br/><br/>
                          <p class="address mb-5">
                              <em>
                                <small><em>Location</em></small>
                                <br />
                                  <strong>1116 Orchard Street</strong>
                                  <br />
                                  Golden Valley, Minnesota
                              </em>
                          </p>
                          <p class="mb-0">
                              <small><em>Call Anytime</em></small>
                              <br/>
                              (317) 585-8468
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </section>
