<div class="flashes">
  <% if (flashMessages) { %>
    <% if (flashMessages.success) { %>
      <div class="flash success"><%= flashMessages.success %></div>
      <%} else if (flashMessages.error) { %>
        <div class="flash error"><%= flashMessages.error %></div>
        <% } %>
        <% } %>
      </div>
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/images/error.jpg" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="site-heading-upper text-primary mb-3">404 Error</span>
                    <span class="section-heading-lower"></span>
                </h2>
                <p class="mb-3">Oops! Something went wrong, or the page you are looking for is not available.</p>
                <p>Error occured! Go to home! </p>
            </div>
        </div>
    </div>
</section>

</body>

</html>
