</div>
          </nav>
      </div>
  </div>
</div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/images/bg-img/breadcumb3.jpg);">
<div class="bradcumbContent">
  <p>Play with Us!</p>
  <h2>Join Form</h2>
</div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">
<div class="container">
  <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
          <div class="login-content">
              <h3>답글</h3>
              <!-- Login Form -->
              <div class="login-form">

                  <form action="/jam/join/register" method="post">
                    <div class="form-group">
                        <label for="title"><strong>Title</strong></label>
                        <input type="text" class="form-control" name="title" aria-describedby="tTitle" placeholder="Enter the title.">
                    </div>
                    <input type="hidden" name="host" id="host" value="<%= currentUser._id %>"/>
                    <input type="hidden" name="originalJam" id="originalJam" value="<%= originalJam %>"/>
                              <br/>
                              <div class="form-group">
                                  <label for="description"><strong>Description</strong></label>
                                  <textarea name="description" class="form-control" name="description" cols="30" rows="50" placeholder="Introduce others what this jam's about!"></textarea>
                              </div>
                                <div class="form-group">
                              <label>음악 파일을 첨부해주세요.</label>
                                <input class="form-control form-control-sm" id="filename" name="filename" type="file">
                                </div>
                                <br/>
                      <button type="submit" class="btn oneMusic-btn mt-30" value="submit">Post</button>
                      </form>
              </div>
          </div>
      </div>
  </div>
</div>
</section>
<!-- ##### Login Area End ##### -->

</body>

</html>
