</div>
          </nav>
      </div>
  </div>
</div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/images/bg-img/breadcumb3.jpg);">
<div class="bradcumbContent">
  <p>Play with Us!</p>
  <h2>Jam Register</h2>
</div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">
<div class="container">
  <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
          <div class="login-content">
              <h3>Let's Jam!</h3>
              <!-- Login Form -->
              <div class="login-form">

                  <form action="/jam/register" method="post">
                    <div class="form-group">
                        <label for="title"><strong>Jam 제목</strong></label>
                        <input type="text" class="form-control" name="title" aria-describedby="tTitle" placeholder="Enter the title.">
                    </div>
                    <input type="hidden" name="host" id="host" value="<%= currentUser._id %>"/>
                          <br/>
                            <div class="form-group">
                                <label for="requiredPosition"><strong>추가하고 싶은 악기</strong></label><br/>
                                <br/>
                                <label><input type="checkbox" class="form-check-input" name="requiredPosition" value="Piano">&nbsp; Piano/Synthesizer</label><br/>
                                <label><input type="checkbox" class="form-check-input" name="requiredPosition" value="Guitar">&nbsp; Guitar</label><br/>
                                <label><input type="checkbox" class="form-check-input" name="requiredPosition" value="Bass">&nbsp; Bass</label><br/>
                                <label><input type="checkbox" class="form-check-input" name="requiredPosition" value="ElecGuitar">&nbsp; Electronical Guitar</label><br/>
                                <label><input type="checkbox" class="form-check-input" name="requiredPosition" value="Drum">&nbsp; Drum/Percussion</label><br/>
                                <label><input type="checkbox" class="form-check-input" name="requiredPosition" value="Vocal">&nbsp; Vocal</label><br/>
                                <label><input type="checkbox" class="form-check-input" name="requiredPosition" value="DJ">&nbsp; DJ/Composer</label><br/><br/>
                              </div>
                              <br/>
                              <div class="col-12">
                                  <div class="form-group">
                                      <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="내용"></textarea>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label for="description"><strong>설명</strong></label>
                                  <textarea name="description" class="form-control" name="description" cols="30" rows="50" placeholder="Introduce others what this jam's about!"></textarea>
                              </div>
                              <br/>
                              <div class="form-group">
                              <label><strong>음악 파일을 첨부해주세요.</strong></label>
                                <input class="form-control form-control-sm" id="filename" name="filename" type="file">
                                </div>
                                <br/>
                      <button type="submit" class="btn oneMusic-btn mt-30" value="submit">Post</button>
                      </form>
              </div>
          </div>
      </div>
  </div>
</div>
</section>
<!-- ##### Login Area End ##### -->

</body>

</html>
