          </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/images/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
            <p>Join Us!</p>
            <h2>Register</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Login Area Start ##### -->
    <section class="login-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="login-content">
                        <h3>Welcome!</h3>
                        <!-- Login Form -->
                        <div class="login-form">
                            <form action="/user/register" method="post">
                              <div class="form-group">
                                  <label for="name"><strong>이름</strong></label>
                                  <input type="text" class="form-control" name="name" aria-describedby="tName" placeholder="Enter your name.">
                              </div>
                              <div class="form-group">
                                  <label for="id"><strong>아이디</strong></label>
                                  <input type="text" class="form-control" name="id" aria-describedby="id" placeholder="Enter your ID.">
                              </div>
                              <div class="form-group">
                                  <label for="password"><strong>비밀번호</<strong></label>
                                  <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password.">
                              </div>
                              <div class="form-group">
                                  <label for="password"><strong>비밀번호 확인</<strong></label>
                                  <input type="password" class="form-control" id="passwordConfirm" placeholder="Enter your password again.">
                                  <p id="password_eq" style="color: green;">비밀번호가 일치합니다!</p>
                                  <p id="password_neq" style="color: red;">비밀번호가 일치하지 않습니다.</p>
                              </div>
                              <div class="form-group">
                                  <label for="nickname"><strong>닉네임</strong></label>
                                  <input type="text" class="form-control" name="nickname" aria-describedby="nickname" placeholder="Enter your nickname to use in this website.">
                              </div>
                                <div class="form-group">
                                    <label for="email"><strong>이메일 주소</strong></label>
                                    <input type="text" class="form-control" name="email" aria-describedby="email" placeholder="Enter E-mail Address">
                                    <small id="emailHelp" class="form-text text-muted"><i class="fa fa-lock mr-2"></i>We'll never share your email with anyone else.</small>
                                </div>
                                    <div class="form-group">
                                        <label for="profile"><strong>자기 소개</strong></label>
                                        <textarea name="profile" class="form-control" cols="30" rows="10" placeholder="Introduce yourself to other users!"></textarea>
                                    </div>
                                    <br/>
                                      <div class="form-group">
                                          <label for="position"><strong>포지션 선택</strong></label><br/>
                                        <input  class="form-check-input" type="radio" name="position" value="guest">  <label> Guest  </label><br/>
                                      <input  class="form-check-input" type="radio" name="position" value="soundDesigner">  <label>  Sound Designer </label>  <br/>
                                      <input  class="form-check-input" type="radio" name="position" value="composer">  <label>  Composer </label> <br/>
                                       <input  class="form-check-input" type="radio" name="position" value="producer">  <label>  Producer </label> <br/>
                                        </div>
                                <button type="submit" class="btn oneMusic-btn mt-30" value="submit">Submit</button>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Login Area End ##### -->

</body>

</html>
